/** @format **/
/* Phone css--> */

/* body {
  background-color: lightcoral;
} */

/* Navigation bar */
#navbar {
  flex-direction: column;
  align-items: center;
}
#navbar ul li a {
  font-size: 1.2rem;
  padding: 0 10px;
  padding-bottom: 5px;
}
/* Home Section  */
#home {
  height: 380px;
  padding: 3px 68px;
}

#home::before {
  height: 450px;
}

#home p {
  font-size: 0.8rem;
}

/* Service section */
#services {
  flex-direction: column;
}

#services .box {
  margin: 10px;
}

/* Client section */
#clients {
  overflow: hidden;
  flex-wrap: wrap;
}
#clients img {
  height: 82px;
  cursor: pointer;
}
.client-items {
  padding: 8px;
  margin-bottom: 3px;
  margin-left: 3px;
}

/* contect us section */
#contact-box form {
  width: 60%;
}

/* Utility section */
.h-primary {
  font-size: 25px;
}
.btn {
  font-size: 15px;
  padding: 5px 15px;
}
