/** @format */
/* * {
  padding: 0;
  margin: 0;
} */

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
}

.container {
  background-color: black;
  color: white;
  width: 22vw;
  height: 300px;
  border: 2px solid yellow;
  border-radius: 5px;
}

.input {
  width: 18vw;
  margin-left: 16px;
}
.form-group1 {
  width: 8vw;
  margin-left: 16px;
  font-weight: 600;
}
